.vscode/
build/*
build*/*
share/scripts/OSOM/*
*/.DS_Store
.DS_Store
Executable/
share/datasets/
external/
CMakeFiles/
superbuild/*/x64/
superbuild/*/CMakeCache.txt
superbuild/*/cmake_install.cmake
superbuild/*/*.vcxproj*
superbuild/*/*.sln*
superbuild/.vs/
superbuild/bat2exe
superbuild/*.vcxproj*
superbuild/CPPFSD/*.vcxproj*
superbuild/CPPFSD/*.sln
superbuild/CPPFSD/cmake_install.cmake
superbuild/CTestTestfile.cmake
superbuild/FTGL/*vcxproj*
superbuild/FTGL/*.sln
superbuild/MinVR/*.vcxproj*
superbuild/MinVR/CMakeCache.txt
superbuild/MinVR/*sln
superbuild/cmake_install.cmake
superbuild/x64/
CMakeCache.txt
*.mp4
ninja-ouput.txt
superbuild/*.png
superbuild/FTGL/FTGL/
superbuild/GLMLoader/
superbuild/MinVR/MinVR/
superbuild/*/CMakeFiles
superbuild/*/Debug
superbuild/*/cmake_install.cmake
superbuild/*/CMakeCache.txt
superbuild/opencv/opencv/
superbuild/*/*.dir
superbuild/freetype/freetype
superbuild/glew/glew
superbuild/glfw/glfw/
superbuild/glm/glm/
superbuild/install_*/
superbuild/shaders/
superbuild/teem/teem/
superbuild/*.sln
superbuild/zlib/zlib/
superbuild/vr-imgui/vr-imgui/
superbuild/CPPFSD/CPPFSD/
superbuild/*.ttf
superbuild/*.zip